.square {
    /* background-color: #ADF3FF; */
   /* background-color:#A9ABAB ; */
   background-color: #000000;
    width: 40vw;
    height: 22vw;
    border-radius: 25px;
    padding-right: 20px;
    padding-left: 13px;
    padding-bottom: 20px;
    opacity: 0.6; 
}

.countryCode{
    width: 10%;
    height: 30px;
    /* display:flex; */
    justify-content: center;
    align-items:center ;
}

.phoneNumber{
    width: 46%;
    height: 30px;
    /* display:flex; */
    justify-content: center;
    align-items:center ;
}

.signupInput{
    width: 46%;
    height: 30px;
    /* display:flex; */
    justify-content: center;
    align-items:center ;
}
.loginInput{
    width: 100%;
    height: 50px;
    /* display:flex; */
    justify-content: center;
    align-items:center ;
}
.bg-modal-signup{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top:0;
    right:0;
    display:flex;
    justify-content: center;
    align-items:center ;
    display:none;
}

.modal-content-signup{
    width:700px;
    height: 365px;
    background-color: #000000;
    position: relative;
}
